In [10]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
import gc

class CalculadoraIndicadoresFinanceiros:
    def __init__(self, db_config, id_empresa):
        self.db_config = db_config
        self.id_empresa = id_empresa
        self.df = None
        self.dataframes_metricas = {}
        self.dataframes_ajustados = {}
        self.metricas = {
            'receita_liquida': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.01",
                'descricao': ["Receita de Venda de Bens e/ou Serviços", "Receitas de Intermediação Financeira"]
            },
            'ebit': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.05",
                'descricao': ["Resultado Antes do Resultado Financeiro e dos Tributos"]
            },
            'resultado_liquido': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.09",
                'descricao': ["Resultado Líquido das Operações Continuadas"]
            },
            'participacao_nao_controladora': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.11.02",
                'descricao': ["Atribuído a Sócios Não Controladores"]
            },
            'lucro_periodo': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.11",
                'descricao': ["Lucro/Prejuízo Consolidado do Período"]
            },
            'socios_nao_participadores': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.11.02",
                'descricao': ["Atribuído a Sócios Não Controladores"]
            },
            'deprec': {
                'tipo_relatorio': "Demonstração do Fluxo de Caixa",
                'codigo_conta': ["6.01.01.02", "6.01.01.03", "6.01.01.08", "6.01.01.06", "6.01.01.04"],
                'descricao': ["Depreciação, Amortização e Exaustão", "Depreciação e amortização", "Depreciação", "Depreciação, depleção e amortização"]
            }
        }
        self.metricas_ajustadas = {
            'ativo_total': {
                'tipo_relatorio': "Balanço Patrimonial Ativo",
                'codigo_conta': "1",
                'descricao': ["Ativo Total"]
            },
            'passivo_circulante': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': "2.01",
                'descricao': ["Passivo Circulante"]
            },
            'total_emprestimos_e_financiamentos': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': ["2.01.04", "2.01.04.1"],
                'descricao': ["Empréstimos e Financiamentos", "Financiamentos e Empréstimos"]
            },
            'caixa_e_equivalentes': {
                'tipo_relatorio': "Balanço Patrimonial Ativo",
                'codigo_conta': "1.01.01",
                'descricao': ["Caixa e Equivalentes de Caixa"]
            },
            'aplicacoes_financeiras': {
                'tipo_relatorio': "Balanço Patrimonial Ativo",
                'codigo_conta': "1.01.02",
                'descricao': ["Aplicações Financeiras"]
            },
            'patrimonio_liquido': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': ["2.03", "2.07"],
                'descricao': ["Patrimônio Líquido Consolidado"]
            },
            'participacao_nao_controladora_acionistas': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': "2.03.09",
                'descricao': ["Participação dos Acionistas Não Controladores"]
            },
            'total_emprestimos_e_financiamentos_lp': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': ["2.02.01", "2.02.01.01", "2.01.01.08", "2.02.01.01.06", "2.01.04.02.01"],
                'descricao': ["Empréstimos e Financiamentos"]
            },
        }

    def carregar_dados(self):
        df_relatorio = pd.read_sql("SELECT * FROM relatorio WHERE id_empresa = %s", self.db_config, params=(self.id_empresa,))

        ids_relatorio = df_relatorio['id_relatorio'].unique()
        ids_relatorio = [int(id_relatorio) for id_relatorio in ids_relatorio]
        placeholder = ', '.join(['%s'] * len(ids_relatorio))
        query = f"SELECT * FROM dados_relatorio WHERE id_relatorio IN ({placeholder})"
        df_dados = pd.read_sql(query, self.db_config, params=tuple(ids_relatorio))

        if 'id_empresa' not in df_dados.columns:
            if 'id_empresa' in df_relatorio.columns:
                self.df = pd.merge(df_dados, df_relatorio, on='id_relatorio')
                self.df = self.df[self.df['id_empresa'] == self.id_empresa]
            else:
                raise KeyError("A coluna 'id_empresa' não foi encontrada em 'dados_relatorio' nem em 'relatorio'.")
        else:
            df_dados = df_dados[df_dados['id_empresa'] == self.id_empresa]
            self.df = pd.merge(df_dados, df_relatorio, on='id_relatorio')

        self.df['data_inicio'] = pd.to_datetime(self.df['data_inicio'])
        self.df['data_fim'] = pd.to_datetime(self.df['data_fim'])


    def adicionar_metrica(self, nome_metrica, tipo_relatorio, codigo_conta, descricao, ajustada=False):
        # Garantir que descricao seja uma lista, mesmo que tenha um único item
        if not isinstance(descricao, (list, tuple)):
            descricao = [descricao]
        if ajustada:
            self.metricas_ajustadas[nome_metrica] = {
                'tipo_relatorio': tipo_relatorio,
                'codigo_conta': codigo_conta,
                'descricao': descricao
            }
        else:
            self.metricas[nome_metrica] = {
                'tipo_relatorio': tipo_relatorio,
                'codigo_conta': codigo_conta,
                'descricao': descricao
            }

    def _filtrar_metrica(self, dados, tipo_relatorio, codigo_conta, descricao, nome_coluna_valor, limiar_similaridade=99):
        # Função auxiliar para verificar similaridade
        def is_similar(desc_df, desc_ref_list):
            if pd.isna(desc_df):
                return False
            return any(fuzz.token_sort_ratio(desc_df, desc_ref) >= limiar_similaridade for desc_ref in desc_ref_list)

        # Filtrar por tipo_relatorio e codigo_conta primeiro
        if isinstance(codigo_conta, (list, tuple)):
            dados_filtrados = dados[
                (dados["tipo_relatorio"] == tipo_relatorio) &
                (dados["codigo_conta"].isin(codigo_conta))
            ]
        else:
            dados_filtrados = dados[
                (dados["tipo_relatorio"] == tipo_relatorio) &
                (dados["codigo_conta"] == codigo_conta)
            ]

        # Verificar similaridade com qualquer uma das descrições fornecidas
        filtro = dados_filtrados[
            dados_filtrados["descricao"].apply(lambda x: is_similar(x, descricao))
        ]

        return filtro.rename(columns={"valor": nome_coluna_valor})

    def filtrar_metricas(self):
        if self.df is None:
            raise ValueError("Dados não carregados. Execute carregar_dados() primeiro.")
        
        datas_fim = self.df['data_fim'].unique()
        
        for nome_metrica, config in self.metricas.items():
            df_metrica = pd.DataFrame()
            if nome_metrica == 'deprec':
                # Lógica específica para a métrica 'deprec'
                palavras_chave = ["Depreciação", "Amortização", "Depleção", "Exaustão", "Depreciações", "Amortizações"]
                # Filtrar por tipo_relatorio e códigos que começam com '6.01.01'
                dados_filtrados = self.df[
                    (self.df["tipo_relatorio"] == config['tipo_relatorio']) &
                    (self.df["codigo_conta"].str.startswith("6.01.01"))
                ]
                # Verificar se a descrição contém qualquer uma das palavras-chave
                filtro = dados_filtrados[
                    dados_filtrados["descricao"].str.contains('|'.join(palavras_chave), case=False, na=False)
                ]
                # Somar os valores por id_empresa e data_fim
                if not filtro.empty:
                    df_metrica = filtro.groupby(['id_empresa', 'data_fim', 'data_inicio'], as_index=False).agg({
                        'valor': 'sum'
                    }).rename(columns={'valor': nome_metrica})
            else:
                if isinstance(config['codigo_conta'], (list, tuple)):
                    # Para múltiplos códigos, tentar cada um até encontrar um match
                    for codigo in config['codigo_conta']:
                        filtro = self._filtrar_metrica(
                            self.df, config['tipo_relatorio'], codigo, config['descricao'], nome_metrica
                        )
                        if not filtro.empty:
                            df_metrica = filtro
                            break
                else:
                    df_metrica = self._filtrar_metrica(
                        self.df, config['tipo_relatorio'], config['codigo_conta'], config['descricao'], nome_metrica
                    )
            
            if df_metrica.empty:
                df_metrica = pd.DataFrame({
                    'id_empresa': [self.id_empresa] * len(datas_fim),
                    'data_fim': datas_fim,
                    'data_inicio': [pd.NaT] * len(datas_fim),
                    nome_metrica: [0] * len(datas_fim)
                })
            self.dataframes_metricas[nome_metrica] = df_metrica
            del df_metrica
            gc.collect()
        
    # ... (o restante do método para metricas_ajustadas permanece inalterado)
        
        for nome_metrica, config in self.metricas_ajustadas.items():
            df_ajustado = pd.DataFrame()
            if isinstance(config['codigo_conta'], (list, tuple)):
                # Para múltiplos códigos, tentar cada um até encontrar um match
                for codigo in config['codigo_conta']:
                    filtro = self._filtrar_metrica(
                        self.df, config['tipo_relatorio'], codigo, config['descricao'], nome_metrica
                    )
                    if not filtro.empty:
                        df_ajustado = filtro
                        break
            else:
                df_ajustado = self._filtrar_metrica(
                    self.df, config['tipo_relatorio'], config['codigo_conta'], config['descricao'], nome_metrica
                )
            
            if df_ajustado.empty:
                df_ajustado = pd.DataFrame({
                    'id_empresa': [self.id_empresa] * len(datas_fim),
                    'data_fim': datas_fim,
                    'data_inicio': [pd.NaT] * len(datas_fim),
                    nome_metrica: [0] * len(datas_fim)
                })
            if not df_ajustado.empty and 'data_inicio' in df_ajustado.columns:
                df_ajustado = df_ajustado[df_ajustado['data_inicio'].isna()]
            self.dataframes_ajustados[nome_metrica] = df_ajustado[['id_empresa', 'data_fim', nome_metrica]]
            del df_ajustado
            gc.collect()

    def calcular_valor_12m(self, df, data_fim_target, valor_col):
        data_fim_target = pd.to_datetime(data_fim_target)
        ano = data_fim_target.year
        mes = data_fim_target.month
        dia = data_fim_target.day
        ano_anterior = ano - 1

        try:
            data_fim_ano_anterior = pd.to_datetime(f'{ano_anterior}-{mes:02d}-{dia:02d}')
        except ValueError:
            ultimo_dia = pd.Timestamp(ano_anterior, mes, 1) + pd.offsets.MonthEnd(0)
            data_fim_ano_anterior = ultimo_dia

        data_inicio_ano_anterior = pd.to_datetime(f'{ano_anterior}-01-01')
        data_fim_ano_anterior_completo = pd.to_datetime(f'{ano_anterior}-12-31')
        if 'data_inicio' not in df.columns:
            return None
        linha_ano_anterior = df[
            (df['data_inicio'] == data_inicio_ano_anterior) & 
            (df['data_fim'] == data_fim_ano_anterior_completo)
        ]
        if linha_ano_anterior.empty:
            data_inicio_ano_anterior = pd.to_datetime(f'{ano_anterior}-04-01')
            data_fim_ano_anterior_completo = pd.to_datetime(f'{ano}-03-31')
            if 'data_inicio' not in df.columns:
                return None
            linha_ano_anterior = df[
                (df['data_inicio'] == data_inicio_ano_anterior) & 
                (df['data_fim'] == data_fim_ano_anterior_completo)
            ]
            if linha_ano_anterior.empty:
                return None
        
        valor_acumulado_ano_anterior = linha_ano_anterior[valor_col].values[0]

        linha_ate_data_fim_ano_anterior = df[
            (df['data_inicio'] == data_inicio_ano_anterior) & 
            (df['data_fim'] == data_fim_ano_anterior)
        ]
        if linha_ate_data_fim_ano_anterior.empty:
            data_fim_ano_anterior = pd.to_datetime(f'{ano_anterior+1}-{mes:02d}-{dia:02d}')
            linha_ate_data_fim_ano_anterior = df[
                (df['data_inicio'] == data_inicio_ano_anterior) & 
                (df['data_fim'] == data_fim_ano_anterior)
            ]
            if linha_ate_data_fim_ano_anterior.empty:
                return None
        
        valor_acumulado_ate_data_fim_ano_anterior = linha_ate_data_fim_ano_anterior[valor_col].values[0]

        valor_ultimos_meses_ano_anterior = valor_acumulado_ano_anterior - valor_acumulado_ate_data_fim_ano_anterior

        data_inicio_ano = pd.to_datetime(f'{ano}-01-01')
        linha_ate_data_fim_target = df[
            (df['data_inicio'] == data_inicio_ano) & 
            (df['data_fim'] == data_fim_target)
        ]
        if linha_ate_data_fim_target.empty:
            data_inicio_ano = pd.to_datetime(f'{ano-1}-04-01')
            if mes > 4:
                data_inicio_ano = pd.to_datetime(f'{ano}-04-01')
            linha_ate_data_fim_target = df[
                (df['data_inicio'] == data_inicio_ano) & 
                (df['data_fim'] == data_fim_target)
            ]
            if linha_ate_data_fim_target.empty:
                return None

        valor_acumulado_ate_data_fim_target = linha_ate_data_fim_target[valor_col].values[0]

            
            
        return valor_ultimos_meses_ano_anterior + valor_acumulado_ate_data_fim_target

    def calcular_indicadores_12m(self):
        if not self.dataframes_metricas:
            raise ValueError("Métricas não filtradas. Execute filtrar_metricas() primeiro.")
        
        datas_fim = self.dataframes_metricas['receita_liquida']['data_fim'].unique()
        resultado_12m = {nome: [] for nome in self.metricas.keys()}
        resultado_12m['data_fim'] = []

        for data_fim in datas_fim:
            valores = {}
            for nome_metrica, df_metrica in self.dataframes_metricas.items():
                valor_12m = self.calcular_valor_12m(df_metrica, data_fim, nome_metrica)
                
                
                valores[nome_metrica] = valor_12m if valor_12m is not None else np.nan
            
            resultado_12m['data_fim'].append(data_fim)
            for nome_metrica in self.metricas.keys():
                resultado_12m[nome_metrica].append(valores[nome_metrica])

        df_resultado = pd.DataFrame(resultado_12m)
        df_resultado['id_empresa'] = self.id_empresa
        df_resultado['data_fim'] = pd.to_datetime(df_resultado['data_fim'])

        for nome_metrica, df_ajustado in self.dataframes_ajustados.items():
            df_ajustado = df_ajustado[['id_empresa', 'data_fim', nome_metrica]].drop_duplicates(
                subset=['id_empresa', 'data_fim'], keep='last'
            )
            df_resultado = df_resultado.merge(
                df_ajustado[['id_empresa', 'data_fim', nome_metrica]],
                on=['id_empresa', 'data_fim'],
                how='left'
            )

        df_resultado = df_resultado.sort_values('data_fim')
        return df_resultado

    def executar(self):
        self.carregar_dados()
        self.filtrar_metricas()
        return self.calcular_indicadores_12m()

    def calculo_indicadores(self, df_resultados):
        df_resultados.fillna(0, inplace=True)
        indicadores_primarios = {
            'capital_investido': (
                df_resultados['ativo_total'] - 
                df_resultados['passivo_circulante'] + 
                df_resultados['total_emprestimos_e_financiamentos'] - 
                df_resultados['caixa_e_equivalentes'] - 
                df_resultados['aplicacoes_financeiras']
            ),
            'ebitda': df_resultados['ebit'] + df_resultados['deprec'],
            'divida_bruta': (
                df_resultados['total_emprestimos_e_financiamentos'] + 
                df_resultados['total_emprestimos_e_financiamentos_lp']
            ),
            'patrimonio_liquido': (
                df_resultados['patrimonio_liquido'] - 
                df_resultados['participacao_nao_controladora_acionistas']
            ),
            'lucro_liquido': (
                df_resultados['lucro_periodo'] -
                df_resultados['socios_nao_participadores']
            ),
        }
        
        df_resultados.drop(columns=['lucro_periodo','socios_nao_participadores'], inplace = True)

        for nome, serie in indicadores_primarios.items():
            df_resultados[nome] = serie

        indicadores_secundarios = {
            'roic': (df_resultados['ebit'] * 0.66) / df_resultados['capital_investido'],
            'roe': (
                (df_resultados['lucro_liquido'] + df_resultados['participacao_nao_controladora']) / 
                (df_resultados['patrimonio_liquido'] + df_resultados['participacao_nao_controladora_acionistas'])
            ),
            'roa': (
                (df_resultados['lucro_liquido'] + df_resultados['participacao_nao_controladora']) / 
                df_resultados['ativo_total']
            ),
            'divida_liquida': (
                df_resultados['divida_bruta'] - 
                df_resultados['caixa_e_equivalentes'] - 
                df_resultados['aplicacoes_financeiras']
            ),
            'margem_ebit': df_resultados['ebit'] / df_resultados['receita_liquida'],
            'margem_liquida': (
                df_resultados['lucro_liquido'] + df_resultados['participacao_nao_controladora']
            ) / df_resultados['receita_liquida'],
        }
        
        for nome, serie in indicadores_secundarios.items():
            df_resultados[nome] = serie

        df_resultados['divida_liquida_ebitda'] = df_resultados['divida_liquida'] / df_resultados['ebitda']
        
        for coluna in df_resultados.columns:
            if coluna not in ['id_empresa', 'data_fim']:
                df_resultados[coluna] = df_resultados[coluna].round(4)
        
        return df_resultados
    
    def _save_results_to_db(self, df_resultado, session, indicators_table):
        from sqlalchemy.dialects.postgresql import insert

        try:
            # Converter DataFrame para lista de dicionários
            df_resultado['tempo_analisado'] = 12
            records = df_resultado.to_dict('records')

            # Inserção/Atualização em lote
            for record in records:
                stmt = insert(indicators_table).values(record)
                stmt = stmt.on_conflict_do_update(
                    index_elements=['id_empresa', 'data_fim', 'tempo_analisado'],
                    set_=record
                )
                session.execute(stmt)
            session.commit()
            print(f"Salvo {len(records)} registros para empresa {self.id_empresa}")
        except Exception as e:
            print(f"Erro ao salvar no banco: {e}")
            session.rollback()
            raise
    
    def run(self, session, indicators_table):
        df_resultado = self.executar()
        df_resultado = df_resultado.dropna(subset=df_resultado.columns.difference(['data_fim', 'id_empresa']), how='all')
        df_resultado = self.calculo_indicadores(df_resultado)
        df_resultado.drop_duplicates(subset=['data_fim'], keep='last', inplace=True)
        
        self._save_results_to_db(df_resultado, session, indicators_table)

In [16]:
if __name__ == "__main__":
    db_config = 'postgresql+psycopg2://admin:admin_password@localhost:5432/meu_banco'
    calculadora = CalculadoraIndicadoresFinanceiros(db_config, 906)

    # Executar o cálculo completo
    df_resultado = calculadora.executar()
    # Caso as todas as colunas, exceto data_fim e id_empresa, sejam nulas, a linha é removida
    df_resultado = df_resultado.dropna(subset=df_resultado.columns.difference(['data_fim', 'id_empresa']), how='all')
    df_resultado = calculadora.calculo_indicadores(df_resultado)
    
    df_resultado.drop_duplicates(subset=['data_fim'], keep='last', inplace=True)

In [17]:
df_resultado

,receita_liquida,ebit,resultado_liquido,participacao_nao_controladora,deprec,data_fim,id_empresa,ativo_total,passivo_circulante,total_emprestimos_e_financiamentos,...,ebitda,divida_bruta,lucro_liquido,roic,roe,roa,divida_liquida,margem_ebit,margem_liquida,divida_liquida_ebitda
0,0.0,0.0,0.0,0.0,5865768.0,2019-12-31,906,1.378528e+09,0,0,...,5865768.0,0,0.0,0.0,0.0,0.0,0,NaN,NaN,0.0
2,98429117.0,0.0,0.0,0.0,0.0,2020-12-31,906,1.604654e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
3,0.0,0.0,0.0,0.0,0.0,2021-03-31,906,0.000000e+00,0,0,...,0.0,0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,2021-06-30,906,0.000000e+00,0,0,...,0.0,0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
5,0.0,0.0,0.0,0.0,0.0,2021-09-30,906,0.000000e+00,0,0,...,0.0,0,0.0,NaN,NaN,NaN,0,NaN,NaN,NaN
1,125443431.0,0.0,0.0,0.0,0.0,2021-12-31,906,1.675572e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
6,149675056.0,0.0,0.0,0.0,0.0,2022-03-31,906,1.701376e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
7,169373492.0,0.0,0.0,0.0,0.0,2022-06-30,906,1.735945e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
15,192353818.0,0.0,0.0,0.0,0.0,2022-09-30,906,1.861372e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
14,205913274.0,0.0,0.0,0.0,0.0,2022-12-31,906,1.792289e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
8,213487162.0,0.0,0.0,0.0,0.0,2023-03-31,906,1.828732e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
9,221059700.0,0.0,0.0,0.0,0.0,2023-06-30,906,1.863389e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
10,223990741.0,0.0,0.0,0.0,0.0,2023-09-30,906,1.895059e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
16,224457793.0,0.0,0.0,0.0,0.0,2023-12-31,906,1.927523e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
11,219789772.0,0.0,0.0,0.0,0.0,2024-03-31,906,1.956078e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
12,214434942.0,0.0,0.0,0.0,0.0,2024-06-30,906,2.003850e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
13,210870632.0,0.0,0.0,0.0,0.0,2024-09-30,906,2.017703e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN
17,213219736.0,0.0,0.0,0.0,0.0,2024-12-31,906,2.069506e+09,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,NaN

In [12]:
df_resultado[['data_fim','divida_liquida_ebitda','ebitda', 'ebit', 'deprec', 'divida_liquida']]

,data_fim,divida_liquida_ebitda,ebitda,ebit,deprec,divida_liquida
1,2010-12-31,-inf,0.0,0.0,0.0,-18980.0
21,2011-03-31,-1.3830,18204.0,16666.0,1538.0,-25176.0
22,2011-06-30,-2.1474,11986.0,10292.0,1694.0,-25739.0
23,2011-09-30,-3.8067,9399.0,7706.0,1693.0,-35779.0
16,2011-12-31,-4.4219,10444.0,8720.0,1724.0,-46182.0
17,2012-03-31,-3.8382,10081.0,8312.0,1769.0,-38693.0
18,2012-06-30,-4.4563,10276.0,8430.0,1846.0,-45793.0
19,2012-09-30,-2.4950,14757.0,12827.0,1930.0,-36819.0
27,2012-12-31,-1.5700,17759.0,15767.0,1992.0,-27881.0
30,2013-03-31,-1.0023,18930.0,16851.0,2079.0,-18974.0
20,2013-06-30,-0.3420,21565.0,19367.0,2198.0,-7375.0
32,2013-09-30,0.5632,68844.0,63735.0,5109.0,38776.0
29,2013-12-31,0.3859,74318.0,68165.0,6153.0,28682.0
10,2014-03-31,0.6055,81985.0,74632.0,7353.0,49641.0
11,2014-06-30,0.6833,81556.0,73046.0,8510.0,55725.0
12,2014-09-30,1.4656,35154.0,28237.0,6917.0,51521.0
0,2014-12-31,0.6969,30991.0,23799.0,7192.0,21597.0
13,2015-03-31,2.0015,27781.0,20493.0,7288.0,55603.0
14,2015-06-30,0.9799,28825.0,21400.0,7425.0,28245.0
15,2015-09-30,0.6518,30725.0,23193.0,7532.0,20027.0
24,2015-12-31,0.9893,29905.0,22313.0,7592.0,29584.0
2,2016-03-31,0.8737,29060.0,21344.0,7716.0,25390.0
7,2016-06-30,0.6725,31487.0,23636.0,7851.0,21174.0
6,2016-09-30,0.9652,34407.0,26329.0,8078.0,33209.0
35,2016-12-31,0.8594,36409.0,28238.0,8171.0,31289.0
8,2017-03-31,1.7185,39113.0,30710.0,8403.0,67214.0
40,2017-06-30,1.4097,41049.0,32363.0,8686.0,57865.0
9,2017-09-30,1.3809,41856.0,32920.0,8936.0,57799.0
28,2017-12-31,1.2886,47818.0,38411.0,9407.0,61617.0
31,2018-03-31,1.2489,55547.0,45871.0,9676.0,69375.0
33,2018-06-30,0.7758,71689.0,61855.0,9834.0,55617.0
34,2018-09-30,0.8776,78253.0,68316.0,9937.0,68673.0
25,2018-12-31,1.0941,80421.0,70435.0,9986.0,87985.0
41,2019-03-31,0.4550,67311.0,67311.0,0.0,30629.0
42,2019-06-30,0.9885,63684.0,53586.0,10098.0,62952.0
43,2019-09-30,0.7416,58944.0,48931.0,10013.0,43715.0
26,2019-12-31,0.5346,51612.0,41713.0,9899.0,27593.0
36,2020-03-31,0.3510,119397.0,119397.0,0.0,41904.0
37,2020-06-30,0.1456,132843.0,123178.0,9665.0,19348.0
38,2020-09-30,0.1919,162700.0,152986.0,9714.0,31224.0
44,2020-12-31,-0.1317,245761.0,235983.0,9778.0,-32373.0
39,2021-03-31,0.1593,268289.0,268289.0,0.0,42751.0
46,2021-06-30,0.4610,404210.0,394290.0,9920.0,186341.0
53,2021-09-30,0.5494,482166.0,472168.0,9998.0,264910.0
45,2021-12-31,0.3495,425904.0,415832.0,10072.0,148873.0
54,2022-03-31,0.3684,304701.0,304701.0,0.0,112239.0
57,2022-06-30,0.5437,234426.0,224222.0,10204.0,127463.0
58,2022-09-30,0.1576,142582.0,131919.0,10663.0,22470.0
55,2022-12-31,0.1860,114405.0,103163.0,11242.0,21277.0
47,2023-03-31,-0.5183,119272.0,107417.0,11855.0,-61820.0
48,2023-06-30,-1.1800,71334.0,58841.0,12493.0,-84172.0
49,2023-09-30,-1.8400,55669.0,42916.0,12753.0,-102433.0
56,2023-12-31,-0.3988,68901.0,55725.0,13176.0,-27477.0
50,2024-03-31,0.5921,78824.0,65391.0,13433.0,46670.0
51,2024-06-30,0.0161,91908.0,78201.0,13707.0,1477.0
52,2024-09-30,-0.4215,131821.0,117543.0,14278.0,-55556.0
59,2024-12-31,0.1587,143053.0,128411.0,14642.0,22701.0