In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
import gc

class CalculadoraIndicadoresFinanceiros:
    def __init__(self, db_config, id_empresa):
        self.db_config = db_config
        self.id_empresa = id_empresa
        self.df = None
        self.dataframes_metricas = {}
        self.dataframes_ajustados = {}
        self.metricas = {
            'receita_liquida': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.01",
                'descricao': ["Receita de Venda de Bens e/ou Serviços", "Receitas de Intermediação Financeira"]
            },
            'ebit': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.05",
                'descricao': ["Resultado Antes do Resultado Financeiro e dos Tributos"]
            },
            'resultado_liquido': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.09",
                'descricao': ["Resultado Líquido das Operações Continuadas"]
            },
            'participacao_nao_controladora': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.11.02",
                'descricao': ["Atribuído a Sócios Não Controladores"]
            },
            'lucro_periodo': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.11",
                'descricao': ["Lucro/Prejuízo Consolidado do Período"]
            },
            'socios_nao_participadores': {
                'tipo_relatorio': "Demonstração do Resultado",
                'codigo_conta': "3.11.02",
                'descricao': ["Atribuído a Sócios Não Controladores"]
            },
            'deprec': {
                'tipo_relatorio': "Demonstração do Fluxo de Caixa",
                'codigo_conta': ["6.01.01.02", "6.01.01.03", "6.01.01.08", "6.01.01.06", "6.01.01.04"],
                'descricao': ["Depreciação, Amortização e Exaustão", "Depreciação e amortização", "Depreciação", "Depreciação, depleção e amortização"]
            }
        }
        self.metricas_ajustadas = {
            'ativo_total': {
                'tipo_relatorio': "Balanço Patrimonial Ativo",
                'codigo_conta': "1",
                'descricao': ["Ativo Total"]
            },
            'passivo_circulante': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': "2.01",
                'descricao': ["Passivo Circulante"]
            },
            'total_emprestimos_e_financiamentos': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': ["2.01.04", "2.01.04.1"],
                'descricao': ["Empréstimos e Financiamentos", "Financiamentos e Empréstimos"]
            },
            'caixa_e_equivalentes': {
                'tipo_relatorio': "Balanço Patrimonial Ativo",
                'codigo_conta': "1.01.01",
                'descricao': ["Caixa e Equivalentes de Caixa"]
            },
            'aplicacoes_financeiras': {
                'tipo_relatorio': "Balanço Patrimonial Ativo",
                'codigo_conta': "1.01.02",
                'descricao': ["Aplicações Financeiras"]
            },
            'patrimonio_liquido': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': ["2.03", "2.07"],
                'descricao': ["Patrimônio Líquido Consolidado"]
            },
            'participacao_nao_controladora_acionistas': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': "2.03.09",
                'descricao': ["Participação dos Acionistas Não Controladores"]
            },
            'total_emprestimos_e_financiamentos_lp': {
                'tipo_relatorio': "Balanço Patrimonial Passivo",
                'codigo_conta': ["2.02.01", "2.02.01.01", "2.01.01.08", "2.02.01.01.06", "2.01.04.02.01"],
                'descricao': ["Empréstimos e Financiamentos"]
            },
        }

    def carregar_dados(self):
        df_relatorio = pd.read_sql("SELECT * FROM relatorio WHERE id_empresa = %s", self.db_config, params=(self.id_empresa,))

        ids_relatorio = df_relatorio['id_relatorio'].unique()
        ids_relatorio = [int(id_relatorio) for id_relatorio in ids_relatorio]
        placeholder = ', '.join(['%s'] * len(ids_relatorio))
        query = f"SELECT * FROM dados_relatorio WHERE id_relatorio IN ({placeholder})"
        df_dados = pd.read_sql(query, self.db_config, params=tuple(ids_relatorio))

        if 'id_empresa' not in df_dados.columns:
            if 'id_empresa' in df_relatorio.columns:
                self.df = pd.merge(df_dados, df_relatorio, on='id_relatorio')
                self.df = self.df[self.df['id_empresa'] == self.id_empresa]
            else:
                raise KeyError("A coluna 'id_empresa' não foi encontrada em 'dados_relatorio' nem em 'relatorio'.")
        else:
            df_dados = df_dados[df_dados['id_empresa'] == self.id_empresa]
            self.df = pd.merge(df_dados, df_relatorio, on='id_relatorio')

        self.df['data_inicio'] = pd.to_datetime(self.df['data_inicio'])
        self.df['data_fim'] = pd.to_datetime(self.df['data_fim'])


    def adicionar_metrica(self, nome_metrica, tipo_relatorio, codigo_conta, descricao, ajustada=False):
        # Garantir que descricao seja uma lista, mesmo que tenha um único item
        if not isinstance(descricao, (list, tuple)):
            descricao = [descricao]
        if ajustada:
            self.metricas_ajustadas[nome_metrica] = {
                'tipo_relatorio': tipo_relatorio,
                'codigo_conta': codigo_conta,
                'descricao': descricao
            }
        else:
            self.metricas[nome_metrica] = {
                'tipo_relatorio': tipo_relatorio,
                'codigo_conta': codigo_conta,
                'descricao': descricao
            }

    def _filtrar_metrica(self, dados, tipo_relatorio, codigo_conta, descricao, nome_coluna_valor, limiar_similaridade=99):
        # Função auxiliar para verificar similaridade
        def is_similar(desc_df, desc_ref_list):
            if pd.isna(desc_df):
                return False
            return any(fuzz.token_sort_ratio(desc_df, desc_ref) >= limiar_similaridade for desc_ref in desc_ref_list)

        # Filtrar por tipo_relatorio e codigo_conta primeiro
        if isinstance(codigo_conta, (list, tuple)):
            dados_filtrados = dados[
                (dados["tipo_relatorio"] == tipo_relatorio) &
                (dados["codigo_conta"].isin(codigo_conta))
            ]
        else:
            dados_filtrados = dados[
                (dados["tipo_relatorio"] == tipo_relatorio) &
                (dados["codigo_conta"] == codigo_conta)
            ]

        # Verificar similaridade com qualquer uma das descrições fornecidas
        filtro = dados_filtrados[
            dados_filtrados["descricao"].apply(lambda x: is_similar(x, descricao))
        ]

        return filtro.rename(columns={"valor": nome_coluna_valor})

    def filtrar_metricas(self):
        if self.df is None:
            raise ValueError("Dados não carregados. Execute carregar_dados() primeiro.")

        datas_fim = self.df['data_fim'].unique()

        for nome_metrica, config in self.metricas.items():
            df_metrica = pd.DataFrame()
            if nome_metrica == 'deprec':
                # Termos-chave para identificar itens de depreciação
                termos_chave = ["deprecia", "amortiza", "exaust", "deple"]

                # Filtrar por tipo_relatorio
                dados_fluxo = self.df[self.df["tipo_relatorio"] == config['tipo_relatorio']]

                # Função para verificar se contém algum termo de depreciação
                def contem_termo_depreciacao(descricao):
                    if pd.isna(descricao):
                        return False
                    descricao_lower = descricao.lower()
                    return any(termo in descricao_lower for termo in termos_chave)

                # Filtrar códigos que começam com "6.01.01." E que contenham termos de depreciação
                subcategorias_depreciacao = dados_fluxo[
                    (dados_fluxo["codigo_conta"].str.startswith("6.01.01.")) &
                    (dados_fluxo["descricao"].apply(contem_termo_depreciacao))
                ]
                
                self.dados_test = subcategorias_depreciacao

                # Somar apenas os itens de depreciação
                if not subcategorias_depreciacao.empty:
                    df_metrica = subcategorias_depreciacao.groupby(['id_empresa', 'data_fim', 'data_inicio'], as_index=False).agg({
                        'valor': 'sum'
                    }).rename(columns={'valor': nome_metrica})
                else:
                    # Se não encontrar itens de depreciação, valor será 0
                    df_metrica = pd.DataFrame({
                        'id_empresa': [self.id_empresa] * len(datas_fim),
                        'data_fim': datas_fim,
                        'data_inicio': [pd.NaT] * len(datas_fim),
                        nome_metrica: [0] * len(datas_fim)
                    })

            else:
                # Lógica original para outras métricas...
                if isinstance(config['codigo_conta'], (list, tuple)):
                    for codigo in config['codigo_conta']:
                        filtro = self._filtrar_metrica(
                            self.df, config['tipo_relatorio'], codigo, config['descricao'], nome_metrica
                        )
                        if not filtro.empty:
                            df_metrica = filtro
                            break
                else:
                    df_metrica = self._filtrar_metrica(
                        self.df, config['tipo_relatorio'], config['codigo_conta'], config['descricao'], nome_metrica
                    )

            if df_metrica.empty:
                df_metrica = pd.DataFrame({
                    'id_empresa': [self.id_empresa] * len(datas_fim),
                    'data_fim': datas_fim,
                    'data_inicio': [pd.NaT] * len(datas_fim),
                    nome_metrica: [0] * len(datas_fim)
                })
            self.dataframes_metricas[nome_metrica] = df_metrica
            del df_metrica
            gc.collect()

    # ... (resto do método permanece inalterado)

    # ... (o restante do método para metricas_ajustadas permanece inalterado)
   
        
        for nome_metrica, config in self.metricas_ajustadas.items():
            df_ajustado = pd.DataFrame()
            if isinstance(config['codigo_conta'], (list, tuple)):
                # Para múltiplos códigos, tentar cada um até encontrar um match
                for codigo in config['codigo_conta']:
                    filtro = self._filtrar_metrica(
                        self.df, config['tipo_relatorio'], codigo, config['descricao'], nome_metrica
                    )
                    if not filtro.empty:
                        df_ajustado = filtro
                        break
            else:
                df_ajustado = self._filtrar_metrica(
                    self.df, config['tipo_relatorio'], config['codigo_conta'], config['descricao'], nome_metrica
                )
            
            if df_ajustado.empty:
                df_ajustado = pd.DataFrame({
                    'id_empresa': [self.id_empresa] * len(datas_fim),
                    'data_fim': datas_fim,
                    'data_inicio': [pd.NaT] * len(datas_fim),
                    nome_metrica: [0] * len(datas_fim)
                })
            if not df_ajustado.empty and 'data_inicio' in df_ajustado.columns:
                df_ajustado = df_ajustado[df_ajustado['data_inicio'].isna()]
            self.dataframes_ajustados[nome_metrica] = df_ajustado[['id_empresa', 'data_fim', nome_metrica]]
            del df_ajustado
            gc.collect()

    def calcular_valor_12m(self, df, data_fim_target, valor_col):
        data_fim_target = pd.to_datetime(data_fim_target)
        ano = data_fim_target.year
        mes = data_fim_target.month
        dia = data_fim_target.day
        ano_anterior = ano - 1

        try:
            data_fim_ano_anterior = pd.to_datetime(f'{ano_anterior}-{mes:02d}-{dia:02d}')
        except ValueError:
            ultimo_dia = pd.Timestamp(ano_anterior, mes, 1) + pd.offsets.MonthEnd(0)
            data_fim_ano_anterior = ultimo_dia

        data_inicio_ano_anterior = pd.to_datetime(f'{ano_anterior}-01-01')
        data_fim_ano_anterior_completo = pd.to_datetime(f'{ano_anterior}-12-31')
        if 'data_inicio' not in df.columns:
            return None
        linha_ano_anterior = df[
            (df['data_inicio'] == data_inicio_ano_anterior) & 
            (df['data_fim'] == data_fim_ano_anterior_completo)
        ]
        if linha_ano_anterior.empty:
            data_inicio_ano_anterior = pd.to_datetime(f'{ano_anterior}-04-01')
            data_fim_ano_anterior_completo = pd.to_datetime(f'{ano}-03-31')
            if 'data_inicio' not in df.columns:
                return None
            linha_ano_anterior = df[
                (df['data_inicio'] == data_inicio_ano_anterior) & 
                (df['data_fim'] == data_fim_ano_anterior_completo)
            ]
            if linha_ano_anterior.empty:
                return None
        
        valor_acumulado_ano_anterior = linha_ano_anterior[valor_col].values[0]

        linha_ate_data_fim_ano_anterior = df[
            (df['data_inicio'] == data_inicio_ano_anterior) & 
            (df['data_fim'] == data_fim_ano_anterior)
        ]
        if linha_ate_data_fim_ano_anterior.empty:
            data_fim_ano_anterior = pd.to_datetime(f'{ano_anterior+1}-{mes:02d}-{dia:02d}')
            linha_ate_data_fim_ano_anterior = df[
                (df['data_inicio'] == data_inicio_ano_anterior) & 
                (df['data_fim'] == data_fim_ano_anterior)
            ]
            if linha_ate_data_fim_ano_anterior.empty:
                return None
        
        valor_acumulado_ate_data_fim_ano_anterior = linha_ate_data_fim_ano_anterior[valor_col].values[0]

        valor_ultimos_meses_ano_anterior = valor_acumulado_ano_anterior - valor_acumulado_ate_data_fim_ano_anterior

        data_inicio_ano = pd.to_datetime(f'{ano}-01-01')
        linha_ate_data_fim_target = df[
            (df['data_inicio'] == data_inicio_ano) & 
            (df['data_fim'] == data_fim_target)
        ]
        if linha_ate_data_fim_target.empty:
            data_inicio_ano = pd.to_datetime(f'{ano-1}-04-01')
            if mes > 4:
                data_inicio_ano = pd.to_datetime(f'{ano}-04-01')
            linha_ate_data_fim_target = df[
                (df['data_inicio'] == data_inicio_ano) & 
                (df['data_fim'] == data_fim_target)
            ]
            if linha_ate_data_fim_target.empty:
                return None

        valor_acumulado_ate_data_fim_target = linha_ate_data_fim_target[valor_col].values[0]

            
            
        return valor_ultimos_meses_ano_anterior + valor_acumulado_ate_data_fim_target

    def calcular_indicadores_12m(self):
        if not self.dataframes_metricas:
            raise ValueError("Métricas não filtradas. Execute filtrar_metricas() primeiro.")
        
        datas_fim = self.dataframes_metricas['receita_liquida']['data_fim'].unique()
        resultado_12m = {nome: [] for nome in self.metricas.keys()}
        resultado_12m['data_fim'] = []

        for data_fim in datas_fim:
            valores = {}
            for nome_metrica, df_metrica in self.dataframes_metricas.items():
                valor_12m = self.calcular_valor_12m(df_metrica, data_fim, nome_metrica)
                
                
                valores[nome_metrica] = valor_12m if valor_12m is not None else np.nan
            
            resultado_12m['data_fim'].append(data_fim)
            for nome_metrica in self.metricas.keys():
                resultado_12m[nome_metrica].append(valores[nome_metrica])

        df_resultado = pd.DataFrame(resultado_12m)
        df_resultado['id_empresa'] = self.id_empresa
        df_resultado['data_fim'] = pd.to_datetime(df_resultado['data_fim'])

        for nome_metrica, df_ajustado in self.dataframes_ajustados.items():
            df_ajustado = df_ajustado[['id_empresa', 'data_fim', nome_metrica]].drop_duplicates(
                subset=['id_empresa', 'data_fim'], keep='last'
            )
            df_resultado = df_resultado.merge(
                df_ajustado[['id_empresa', 'data_fim', nome_metrica]],
                on=['id_empresa', 'data_fim'],
                how='left'
            )

        df_resultado = df_resultado.sort_values('data_fim')
        return df_resultado

    def executar(self):
        self.carregar_dados()
        self.filtrar_metricas()
        return self.calcular_indicadores_12m()

    def calculo_indicadores(self, df_resultados):
        indicadores_primarios = {
            'capital_investido': (
                df_resultados['ativo_total'] - 
                df_resultados['passivo_circulante'] + 
                df_resultados['total_emprestimos_e_financiamentos'] - 
                df_resultados['caixa_e_equivalentes'] - 
                df_resultados['aplicacoes_financeiras']
            ),
            'ebitda': df_resultados['ebit'] + df_resultados['deprec'],
            'divida_bruta': (
                df_resultados['total_emprestimos_e_financiamentos'] + 
                df_resultados['total_emprestimos_e_financiamentos_lp']
            ),
            'patrimonio_liquido': (
                df_resultados['patrimonio_liquido'] - 
                df_resultados['participacao_nao_controladora_acionistas']
            ),
            'lucro_liquido': (
                df_resultados['lucro_periodo'] -
                df_resultados['socios_nao_participadores']
            ),
        }
        
        df_resultados.drop(columns=['lucro_periodo','socios_nao_participadores'], inplace = True)

        for nome, serie in indicadores_primarios.items():
            df_resultados[nome] = serie

        indicadores_secundarios = {
            'roic': (df_resultados['ebit'] * 0.66) / df_resultados['capital_investido'],
            'roe': (
                (df_resultados['lucro_liquido'] + df_resultados['participacao_nao_controladora']) / 
                (df_resultados['patrimonio_liquido'] + df_resultados['participacao_nao_controladora_acionistas'])
            ),
            'roa': (
                (df_resultados['lucro_liquido'] + df_resultados['participacao_nao_controladora']) / 
                df_resultados['ativo_total']
            ),
            'divida_liquida': (
                df_resultados['divida_bruta'] - 
                df_resultados['caixa_e_equivalentes'] - 
                df_resultados['aplicacoes_financeiras']
            ),
            'margem_ebit': df_resultados['ebit'] / df_resultados['receita_liquida'],
            'margem_liquida': (
                df_resultados['lucro_liquido'] + df_resultados['participacao_nao_controladora']
            ) / df_resultados['receita_liquida'],
        }
        
        for nome, serie in indicadores_secundarios.items():
            df_resultados[nome] = serie

        df_resultados['divida_liquida_ebitda'] = df_resultados['divida_liquida'] / df_resultados['ebitda']
        
        for coluna in df_resultados.columns:
            if coluna not in ['id_empresa', 'data_fim']:
                df_resultados[coluna] = df_resultados[coluna].round(4)
        
        return df_resultados
    
    def _save_results_to_db(self, df_resultado, session, indicators_table):
        from sqlalchemy.dialects.postgresql import insert

        try:
            # Converter DataFrame para lista de dicionários
            df_resultado['tempo_analisado'] = 12
            records = df_resultado.to_dict('records')

            # Inserção/Atualização em lote
            for record in records:
                stmt = insert(indicators_table).values(record)
                stmt = stmt.on_conflict_do_update(
                    index_elements=['id_empresa', 'data_fim', 'tempo_analisado'],
                    set_=record
                )
                session.execute(stmt)
            session.commit()
            print(f"Salvo {len(records)} registros para empresa {self.id_empresa}")
        except Exception as e:
            print(f"Erro ao salvar no banco: {e}")
            session.rollback()
            raise
    
    def run(self, session, indicators_table):
        df_resultado = self.executar()
        df_resultado = df_resultado.dropna(subset=df_resultado.columns.difference(['data_fim', 'id_empresa']), how='all')
        df_resultado = self.calculo_indicadores(df_resultado)
        df_resultado.drop_duplicates(subset=['data_fim'], keep='last', inplace=True)
        
        self._save_results_to_db(df_resultado, session, indicators_table)

In [6]:
if __name__ == "__main__":
    db_config = 'postgresql+psycopg2://admin:admin_password@localhost:5433/meu_banco'
    calculadora = CalculadoraIndicadoresFinanceiros(db_config, 20478)

    # Executar o cálculo completo
    df_resultado = calculadora.executar()
    # Caso as todas as colunas, exceto data_fim e id_empresa, sejam nulas, a linha é removida
    df_resultado = df_resultado.dropna(subset=df_resultado.columns.difference(['data_fim', 'id_empresa']), how='all')
    df_resultado = calculadora.calculo_indicadores(df_resultado)
    
    df_resultado.drop_duplicates(subset=['data_fim'], keep='last', inplace=True)

In [ ]:
x = calculadora.dados_test
x = x.sort_values(by=["data_inicio", 'data_fim'])
print(x.to_markdown())

In [7]:
df_resultado[['data_fim','divida_liquida_ebitda','ebitda', 'ebit', 'deprec', 'divida_liquida']]

,data_fim,divida_liquida_ebitda,ebitda,ebit,deprec,divida_liquida
0,2010-12-31,NaN,NaN,NaN,NaN,3081697.0
7,2011-03-31,3.0506,1069899.0,978040.0,91859.0,3263810.0
8,2011-06-30,3.3889,1096700.0,1004663.0,92037.0,3716603.0
9,2011-09-30,3.1571,1151869.0,1061833.0,90036.0,3636604.0
1,2011-12-31,3.3700,1056622.0,910969.0,145653.0,3560813.0
20,2012-03-31,3.9983,922703.0,751481.0,171222.0,3689257.0
21,2012-06-30,17.3039,233402.0,52066.0,181336.0,4038760.0
22,2012-09-30,-191.3823,-20671.0,-209306.0,188635.0,3956063.0
24,2012-12-31,-2.5511,-1670947.0,-1846090.0,175143.0,4262734.0
29,2013-03-31,-2.5607,-1685140.0,-1887529.0,202389.0,4315119.0
30,2013-06-30,-2.9302,-1260642.0,-1525741.0,265099.0,3693966.0
31,2013-09-30,-2.6776,-1447271.0,-1619687.0,172416.0,3875197.0
25,2013-12-31,12.7007,315862.0,242010.0,73852.0,4011673.0
37,2014-03-31,12.5324,327106.0,290292.0,36814.0,4099418.0
38,2014-06-30,13.0098,354094.0,385474.0,-31380.0,4606676.0
39,2014-09-30,9.0081,479585.0,423450.0,56135.0,4320134.0
34,2014-12-31,17.6087,221590.0,164211.0,57379.0,3901910.0
2,2015-03-31,27.0661,132939.0,73637.0,59302.0,3598144.0
12,2015-06-30,273.6436,11039.0,-43346.0,54385.0,3020752.0
13,2015-09-30,-17.5441,-194759.0,-251887.0,57128.0,3416867.0
10,2015-12-31,-1.7560,-1716426.0,-2128620.0,412194.0,3014056.0
3,2016-03-31,-1.5645,-1915224.0,-2335580.0,420356.0,2996380.0
14,2016-06-30,-1.2025,-2395194.0,-2810652.0,415458.0,2880132.0
15,2016-09-30,-0.7651,-3751980.0,-4181464.0,429484.0,2870491.0
11,2016-12-31,-0.6135,-4533000.0,-4621302.0,88302.0,2781155.0
17,2017-03-31,-0.6202,-4441514.0,-4514552.0,73038.0,2754567.0
18,2017-06-30,-0.6851,-4254134.0,-4333042.0,78908.0,2914378.0
19,2017-09-30,-1.0598,-2862356.0,-2917168.0,54812.0,3033402.0
16,2017-12-31,-0.7620,-1745724.0,-1774291.0,28567.0,1330227.0
27,2018-03-31,-0.7763,-1778434.0,-1842431.0,63997.0,1380607.0
26,2018-06-30,-0.8398,-1650783.0,-1703732.0,52949.0,1386320.0
28,2018-09-30,-0.9047,-1555410.0,-1603159.0,47749.0,1407196.0
23,2018-12-31,-4.0911,-359089.0,-404239.0,45150.0,1469065.0
32,2019-03-31,-4.3631,-339253.0,-343300.0,4047.0,1480184.0
35,2019-06-30,-5.8392,-260448.0,-264609.0,4161.0,1520810.0
36,2019-09-30,-6.7274,-229447.0,-234084.0,4637.0,1543582.0
33,2019-12-31,-3.4047,-452802.0,-456455.0,3653.0,1541653.0
41,2020-03-31,-4.0995,-386880.0,-390122.0,3242.0,1586032.0
42,2020-06-30,-5.0955,-317039.0,-319795.0,2756.0,1615463.0
43,2020-09-30,-3.8854,-409629.0,-412058.0,2429.0,1591579.0
40,2020-12-31,-4.1729,-273918.0,-276761.0,2843.0,1143039.0
45,2021-03-31,-3.4978,-329628.0,-332056.0,2428.0,1152984.0
46,2021-06-30,-3.1693,-370219.0,-372240.0,2021.0,1173318.0
47,2021-09-30,-4.3253,-239197.0,-240870.0,1673.0,1034595.0
44,2021-12-31,-2.9133,-351807.0,-352513.0,706.0,1024921.0
49,2022-03-31,-2.8599,-365961.0,-366724.0,763.0,1046617.0
50,2022-06-30,-4.3672,-249391.0,-250172.0,781.0,1089152.0
51,2022-09-30,-4.1599,-271869.0,-272632.0,763.0,1130948.0
48,2022-12-31,-19.7461,-59733.0,-60474.0,741.0,1179494.0
55,2023-03-31,4225.0408,294.0,-426.0,720.0,1242162.0
54,2023-06-30,178.3208,7276.0,6538.0,738.0,1297462.0
56,2023-09-30,-47.4940,-28879.0,-29627.0,748.0,1371579.0
52,2023-12-31,-0.3181,-532533.0,-533282.0,749.0,169375.0
57,2024-03-31,-0.3420,-517163.0,-517862.0,699.0,176850.0
58,2024-06-30,-0.3476,-552878.0,-553537.0,659.0,192190.0
59,2024-09-30,-0.3548,-586165.0,-586771.0,606.0,207994.0
53,2024-12-31,-1.1519,-152845.0,-153400.0,555.0,176067.0
60,2025-03-31,-1.6175,-112881.0,-113377.0,496.0,182587.0

In [174]:
m = calculadora.df

In [175]:
m.head()

,codigo_conta,id_relatorio,descricao,valor,id_empresa,data_inicio,data_fim,tipo_relatorio,ultima_atualizacao
0,3.99.02.02,157521,PN,0.0,14826,2022-01-01,2022-03-31,Demonstração do Resultado,2025-06-01 02:32:56.058300
1,3.01,157521,Receita de Venda de Bens e/ou Serviços,10069000.0,14826,2022-01-01,2022-03-31,Demonstração do Resultado,2025-06-01 02:32:56.058300
2,3.02,157521,Custo dos Bens e/ou Serviços Vendidos,-7461000.0,14826,2022-01-01,2022-03-31,Demonstração do Resultado,2025-06-01 02:32:56.058300
3,3.03,157521,Resultado Bruto,2608000.0,14826,2022-01-01,2022-03-31,Demonstração do Resultado,2025-06-01 02:32:56.058300
4,3.04,157521,Despesas/Receitas Operacionais,-2432000.0,14826,2022-01-01,2022-03-31,Demonstração do Resultado,2025-06-01 02:32:56.058300

In [177]:
m[(m['data_fim'] == pd.to_datetime('2021-03-31')) & (m['codigo_conta'] == "3.05")]

,codigo_conta,id_relatorio,descricao,valor,id_empresa,data_inicio,data_fim,tipo_relatorio,ultima_atualizacao
15501,3.05,127864,Resultado Antes do Resultado Financeiro e dos ...,327000.0,14826,2021-01-01,2021-03-31,Demonstração do Resultado,2025-06-01 02:30:35.164311

In [178]:
m[(m['data_fim'] == pd.to_datetime('2020-03-31')) & (m['codigo_conta'] == "3.05")]

,codigo_conta,id_relatorio,descricao,valor,id_empresa,data_inicio,data_fim,tipo_relatorio,ultima_atualizacao
14956,3.05,100521,Resultado Antes do Resultado Financeiro e dos ...,314000.0,14826,2020-01-01,2020-03-31,Demonstração do Resultado,2025-06-01 02:28:24.282928

In [179]:
m[(m['data_fim'] == pd.to_datetime('2020-12-31')) & (m['codigo_conta'] == "3.05")]

,codigo_conta,id_relatorio,descricao,valor,id_empresa,data_inicio,data_fim,tipo_relatorio,ultima_atualizacao
15788,3.05,94163,Resultado Antes do Resultado Financeiro e dos ...,2629000.0,14826,2020-01-01,2020-12-31,Demonstração do Resultado,2025-06-01 02:28:21.783420

In [169]:
1723.000 + 177.000 -687.000

1213.0

In [161]:
322.206 + 275.833

598.039

In [162]:
536.592  + 536.726

1073.318